<div class="layout-row container">
  <div class="dt-sidebar">
    <div class="logo"></div>
    <div class="button">
      <i class="material-icons">burst_mode</i>
    </div>
  </div>
  <div class="sidebar">
    <div class="layout-row layout-align-space-between">
      <h2>
        Task List
      </h2>
      <i class="material-icons">list</i>
    </div>
    <div *ngFor='let task of tasks;index as i' (click)="getImages(task)" class="task">
      {{task}}
    </div>
  </div>
  <div class="main-layout">
    <h1 style="text-align: center;">{{selectedTask.toUpperCase()}}</h1>
    <!-- <span *ngFor='let image of images;index as i' (mouseover)="selectedIndex=i" [ngClass]="{'imgCon',
      'active': selectedIndex==i>}"> -->
      <span *ngFor='let image of images;index as i' (mouseover)="selectedIndex=i;store(i)" [ngClass]="{'imgCon':true,
      'active': checkActive(i) && startMark==true}">
      <img [src]="getImageUrl(image)" class="image-frame">
      <span class="middle">
        <button *ngIf="!startMark" (click)="start()">-></button>
        <button *ngIf="startMark" (click)="stop()">x</button>
        <button *ngIf="startMark" (click)="submit()">ok</button>
      </span>
    </span>
  </div>
</div>